*,
html {
  margin: 0;
  padding: 0;
}

.container-navbar {
  background-color: rgb(40, 33, 33);
  width: 100%;
  height: 15vh;
}
.ul-navbar {
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
}
.li-navbar {
  border: 7px solid rgb(6, 17, 62);
  list-style-type: none;
  padding: 20px;
  margin: 5px;
  color: white;
  font-size: 30px;
}
.li-navbar:hover {
  background-color: tomato;
  transition: 0.5s ease-in-out;
  transition-delay: 0.3s;
  border-radius: 8px;
}
.a-navbar {
  color: white;
  text-decoration: none;
}
.container-content {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
.a-content {
  background-color: white;
  color: black;
  font-size: 30px;
  text-decoration: none;
  width: 500px;
  height: 500px;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 80px;
}
.img-content {
  height: 30%;
  width: 30%;
}
.container-footer {
  height: 10vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h1-footer {
  font-size: 40px;
}
.container-kontak {
  background-color: #e32222;
  display: flexbox;
  justify-content: center;
  align-items: center;
}

.b-content {
  background-color: white;
  color: black;
  font-size: 30px;
  text-decoration: none;
  width: 500px;
  height: 500px;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
}
